<ion-popover-view class="my-popover"> 
        <ion-content>			
			<ion-list>
				<ion-item>
					Укажите цену товара и <br>краткое описание					
				</ion-item>
				<ion-item>
					<input id="NewTopicPrice" style="width:180px" placeholder="Цена"/>		
					<input  style="width:50px;" type="button" value="Place" ng-click="PlaceTopic()"/>
				</ion-item>
				
				<ion-item>
					<textarea  id="NewTopicDesc" placeholder="Описание товара" style="background: rgba(200, 200, 200, 0.5);width:250px;height:150px;"/>
				</ion-item>
				<ion-item>
                                   <div style="overflow:hidden;width:150px">
                                   <div style="white-space:nowrap">
                                      <div style="width:30px;display:inline-block;border:1px solid black">
                                           <img src="img/camera-icon.png" style="width:25px"/>
                                      </div>
                                      <div class="file_upload" style="width:150px;display:inline-block;border:1px solid black">
                                        <img src="img/open-file-icon.jpg" style="width:25px"/>
                                        <button type="button">Выбрать</button>
                                        <input type="file" onchange="newTopicPreview(this);" id="newTopicImages">
                                      </div>
                                    </div>
                                           </div>
				</ion-item>
                                <ion-item>
                                        --
                                </ion-item>
			</ion-list>			
			<ion-list>
				<ion-item ng-repeat="file in FilesToUpload.Files">
					<div class="row">
						<div class="col">
							<img  class='thumb' src='{{file.data}}' style='max-width:60px;'>
						</div>
						<div class="col">
							<label ng-click="delete_file({{file}})">xxxxx {{$index}}</label>
						</div>
					</div>
				</ion-item>
			</ion-list>
			
			<!--<label id="NewTopicHead"> Укажите цену товара, и краткое описание</label>
			<input id="NewTopicPrice" style="width:180px;position: absolute; top:30px;left:15px;" placeholder="Цена"/>			
			<textarea  id="NewTopicDesc" placeholder="Описание товара" style="background: rgba(200, 200, 200, 0.5);width:250px;height:150px;position: absolute;top:70px;left:15px;"/>
			<input  style="width:50px;position: absolute; top:30px;left:215px;" type="button" value="Place" ng-click="PlaceTopic()"/>
			
			<div style="position: absolute; top:230px;left:15px;">
				<div class="row">
					<input type="button" value="Take a Photo" ng-click="TakePhoto()"/>
					<img [src]="base64Image" *ngIf="base64Image" />
				</div>
			</div>
			
			<div>
			
			<input style="width:50px;position: absolute; top:260px;left:30px;" class="show-for-sr" type="file" onchange="newTopicPreview(this);" id="newTopicImages" multiple="multiple">
			
			<list style="width:50px;position: absolute; top:280px;left:30px;"> 
			</list>
			
			<div id="newTopicPreviewImg">
			</div>
			
			</div>-->
			
        </ion-content>
      </ion-popover-view>
</ion-popover-view>
