<ion-view view-title="allnotices">
    <ion-nav-title>
		{{User.MGUser.Name}}
    </ion-nav-title>   

    <ion-nav-buttons side="right">
	

		<span>
			<label>
				Мои
			</label>
			<label class="checkbox" id="labelcheck_onlymy">
				   <input ng-model="turnClearAppData" id="check_onlymy" type="checkbox" ng-true-value="'On'" ng-false-value="'Off'" >
			</label>
		</span>
		

		<div>
			<button class="numberCircle2"  ng-click="openPopover($event)">+</button>
		</div>
    </ion-nav-buttons>
	
	
	
	<ion-content >
    <ion-list>
		  <ion-item ng-repeat="notice in allnotices | orderBy:CreateTime" href="#/app/allnotices/{{notice.TopicId}}" ng-click="select_item(notice)"  ng-show='isFilter(notice)'>
		
			<div width="100%" class="row TopicImage" ng-class="IsMy(notice)?'disable_myNotice':''">
				<div class="clip2 TopicImage"><img ng-src="{{notice.Images[0].Src}}" height="50" width="50px"></div>				
				<div class="col TopicImage">
					<div class="row" style="text-overflow: ellipsis">
						<div class="row clip" style="text-align:left">
							<div class="">{{notice.User.Name}}&nbsp;{{notice.Text}}</div>
							<div class="" style="width:10px; "></div>
							<div class="flex" ng-bind-html="allnotices.stars(notice.Stars)"></div>

						</div>
						<div class="col-20 clip">							
							{{allnotices.time(notice.create_time)}}
						</div>
					</div>
					<div class="row">
						<div class="col-100 clip">{{notice.title}}</div>
					</div>
				</div>

				<div class="TopicImage" style="width:20px" align="right" width="20">
					<div class="numberCircle" ng-hide="notice.newmes==null">{{notice.newmes}}<br></div>
					<div class="" ng-show="notice.newmes==null"><br></div>
					&rArr;
				</div>
			</div>
					
		  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
