<ion-view view-title="Developer" ng-controller="DevelopCtrl">
  <ion-content>
        <ion-list>
		  <ion-item ng-repeat="log in logs| orderBy:'-time'"  ng-click="select_item(notice)" id="develop">		  
			<div class="wordwrap">
					{{log.text}}:<br>
					{{log.object}}
			</div>
		  </ion-item>
		<ion-list>  
  </ion-content>
</ion-view>
