<ion-nav-view  ng-controller="AppCtrl">
	<ion-content>
			<label class="item" ng_hide="user.FB_Auth==true">
				<button id="FaceBookLogin" class="button button-block button-positive" ng-click="Login_FB()">
					Login with Facebook
				</button>
			</label>
			
			<label class="item" ng_show="user.FB_Auth==true">
				<button id="FaceBookLogin" class="button button-block button-positive" ng-click="facebookLogout()">
					Facebook Logout
				</button>
			</label>

			<label class="item">
				<button id="FaceBookLogin" class="button button-block button-positive" ng-click="Login_Google()">
					Login with Gmail
				</button>
			</label>
			<label class="item">
				<button id="MGLogOff" class="button button-block button-positive" ng-click="MGLogOff()">
					logoff MG
				</button>
			</label>
			<label class="item"  ng-show="1==2">
				<button id="FaceBookLogout" class="button button-block button-positive" ng-click="LogOut_Google()">
					logout with Gmail
				</button>
			</label>
			
			
			<label class="item">
				<button id="FaceBookLogin" class="button button-block button-positive" ng-click="Login_Later()">
					В другой раз!
				</button>
			</label>
			
			<a class="button icon-right ion-chevron-right" href="#/app/allnotices">В другой раз!</a>
			
			<a class="button icon-right ion-chevron-right" href="#/app/develop">Develop2</a>
      </ion-content>
</ion-nav-view>
