.myNotice{
	background-color: SkyBlue;	
}

.my-popover{
	width:300px;
	height:700px;
	//background:yellow !important;
	color:#333;
	margin-top: 1.175em;
}


.file_upload > button{
    float: right;
    width: 8em;            /* example */
    height: 100%
}
.file_upload > div{
    padding-left: 1em      /* example */
}




.file_upload{
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 1em;              /* example */
    height: 2em;                 /* example */
    line-height: 2em             /* the same as height */
}
.file_upload .button, .file_upload > mark{
    display: block;
    cursor: pointer              /* example */
	background:url(/img/open-file-icon.jpg)
}
.file_upload .button{
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 8em;                  /* example */
    height: 100%;
    text-align: center           /* example */
	background:url(/img/open-file-icon.jpg)
}
.file_upload > mark{
    background: transparent;     /* example */
    padding-left: 1em            /* example */
}




